@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --fuente-parrafos: "Roboto Condensed", sans-serif;
  --fuente-titulos: "Roboto Condensed", sans-serif;
}

button {
  cursor: pointer;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  margin-top: 85px;
  background-color: #083244;
}

.body-formulario {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(imagenes/formulario.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.body-sesion {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(imagenes/iniciasesion.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  width: 100%;
  margin: auto;
}

/* --FORMULARIO-- */

.contenedor {
  display: flex;
  justify-content: center;
  height: 100vh;
}

.formularioForm {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem;
  height: fit-content;
  width: 50%;
  background-color: #ecfeff;
  border: 5px groove;
  border-radius: 10px;
  animation-name: formulario;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes formulario {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.nombre-completo,
.correo,
.div-direccion,
.localidad-1,
.div-codigo-postal,
.contraseña,
.confirmar {
  display: flex;
  flex-direction: column;
}

.opciones-genero {
  display: flex;
  justify-content: space-evenly;
}

.div-localidad,
.password {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

@media (width <= 850px) {
  .div-localidad,
  .password,
  .opciones-genero {
    display: block;
  }

  .password {
    margin-bottom: 2rem;
  }
}

label {
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: start;
  font-size: 1rem;
  margin-block: 1rem;
  color: black;
}

#nombre,
#direccion,
#email,
#codigo-postal,
#localidad,
#contraseña,
#confirmar-contraseña {
  text-align: start;
  padding-inline: 0.5rem;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid black;
}

.masculino,
.femenino,
.otro {
  font-size: 1rem;
}

.titulo-genero {
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  margin-block: 1rem;
  color: black;
}

.botones {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-content: center;
  margin: auto;
  gap: 0.5em;
  height: 2rem;
  width: 100%;
  margin-block: 1rem;
}

.botones a {
  text-align: center;
  font-size: 0.8rem;
  place-content: center;
  color: black;
}

@media (width <= 850px) {
  .botones {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }
}

.enviar,
#cerrarFormulario {
  height: 2rem;
  margin-top: 1rem;
  border-radius: 5px;
  background-color: #67e5f9;
  cursor: pointer;
  border: 2px solid #083244;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  text-decoration: none;
}

.enviar:hover,
#cerrarFormulario:hover {
  text-decoration: underline;
}

/* --INICIO DE SESIÓN-- */

#contenedor-sesion {
  display: flex;
  justify-content: center;
  height: 100vh;
  border: 1px solid black;
}

#iniciodesesion {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 3rem;
  height: 500px;
  width: 500px;
  background-color: rgba(236, 254, 255, 0.9);
  border: 5px groove;
  border-radius: 10px;
  animation-name: iniciodesesion;
  animation-duration: 0.3s;
  animation-timing-function: linear;
}

@keyframes iniciodesesion {
  from {
    scale: 0;
  }
  to {
    scale: 1;
  }
}

.h1-sesion {
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

.parrafo-sesion {
  font-family: var(--fuente-parrafos);
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
  text-wrap: balance;
  margin: 1rem;
}

.sesion {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin: auto;
}

.sesion > label {
  margin: 0;
  margin-top: 1.5em;
}

#recuperarContraseña {
  font-family: var(--fuente-parrafos);
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  margin-block: 1rem;
  color: #083244;
}

#correo-electronico,
#contraseña-sesion {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0.5rem;
}

.boton-sesion {
  font-family: var(--fuente-titulos);
  font-weight: 600;
  font-optical-sizing: auto;
  font-style: normal;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
  height: 3em;
  border-radius: 10px;
  background-color: #67e5f9;
  color: black;
  border: 2px solid #083244;
}

.boton-sesion:hover {
  text-decoration: underline;
}

/* --NAV/BAR-- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100dvw;
  text-align: center;
  background: rgb(82, 82, 201);
  background: linear-gradient(
    90deg,
    rgba(82, 82, 201, 1) 0%,
    rgba(7, 194, 232, 1) 100%
  );
  z-index: 1000;
}

@media (width < 800px) {
  nav {
    position: fixed;
    width: fit-content;
    padding: 0.9rem;
  }

  body {
    margin-top: 0;
  }
}

li {
  list-style: none;
}

.navBar > img {
  width: 160px;
}

.ir-a-formulario,
.inicio-de-sesion {
  font-family: var(--fuente-parrafos);
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1rem);
  border: none;
  color: #fff;
}

.ir-a-formulario:hover,
.inicio-de-sesion:hover {
  text-decoration: underline;
  color: #fff;
}

nav a {
  font-family: var(--fuente-parrafos);
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  color: #fff;
  font-size: clamp(1rem, 2vw, 1rem);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

a:hover {
  text-decoration: underline;
}

/*---------sidebar---------*/
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 250px;
  z-index: 999;
  background-color: rgba(16, 130, 166, 0.6);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-inline: 1rem;
}

.sidebar li {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  border-radius: 10px;
  margin-block: 1rem;
}

.sidebar a {
  width: 100%;
  margin: 5px;
  color: #fff;
}

.menuButton {
  display: none;
}

@media (width < 800px) {
  .hideOnMobile,
  nav ul {
    display: none;
  }

  .menuButton {
    display: block;
    top: 0;
  }

  .sidebar.active {
    display: block;
    margin-top: 85px;
  }
}

@media (width > 800px) {
  .sidebar {
    display: none;
  }
}

/*--PROMOCIONES Y OFERTAS--  */
#ofertas {
  position: relative;
  scroll-margin-top: 85px;
  width: 100%;
  height: fit-content;
  color: #fff;
  text-align: center;
  background-color: #07c2e8;
  margin: auto;
  padding-top: 0.5rem;
  padding-bottom: 0;
}

@media (width < 800px) {
  #ofertas {
    width: 100%;
    scroll-margin-top: 0;
  }

  .carrusel {
    padding-bottom: 0;
  }
}

section > h2 {
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #083244;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  background-color: #ecfeff;
}

.contenedorCarrusel {
  width: 100%;
  height: fit-content;
  overflow: hidden;
}

.carrusel {
  display: flex;
  width: 100%;
  margin-top: 1rem;
}

.carrusel > img {
  animation-name: carrusel;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

@keyframes carrusel {
  20% {
    transform: translatex(-100%);
  }
  40% {
    transform: translateX(-200%);
  }

  60% {
    transform: translatex(-300%);
  }

  80% {
    transform: translatex(-400%);
  }

  100% {
    transform: translatex(-500%);
  }

  120% {
    transform: translatex(-600%);
  }
}

.carrusel > img {
  width: 100%;
}

#ofertas > button {
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  min-height: fit-content;
  width: fit-content;
  margin: 0.5rem;
}

.btn-derecha {
  top: 50%;
  right: 0;
}
.btn-izquierda {
  top: 50%;
  left: 0;
}

/* --CATEGORIAS-- */
#categorias {
  scroll-margin-top: 85px;
  height: fit-content;
  color: #fff;
  text-align: center;
  background-color: #0e7190;
}

#categorias {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
  row-gap: 1rem;
  place-content: center;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  padding: 0.5rem;
}

@media (width < 800px) {
  #categorias {
    scroll-margin-top: 0;
    width: 100%;
    margin: 0;
    padding-top: 0.5;
    padding-bottom: 0;
    padding-inline: 0;
  }
}

#categorias > article {
  margin: auto;
  padding-top: 1rem;
  margin-bottom: 1rem;
  border: 3px solid #083244;
  border-bottom-left-radius: 15%;
  border-top-right-radius: 15%;
  width: 70%;
  height: fit-content;
  background-color: #ecfeff;
}

@media (width < 800px) {
  #catigorias > article {
    width: fit-content;
  }
}

#categorias > article:hover {
  scale: 1.05;
}

article > button {
  margin: 0.5rem;
  width: 70%;
  height: 2.5em;
  border-radius: 10px;
  background: rgb(8, 141, 178);
  background: linear-gradient(
    90deg,
    rgba(8, 141, 178, 1) 0%,
    rgba(7, 194, 232, 1) 100%
  );
  border: 2px solid #083244;
  color: #083244;
}

article > button:hover {
  color: #fff;
  border: 3px solid #07c2e8;
}

#categorias > h2 {
  display: grid;
  grid-column: 1 / -1;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #083244;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  background-color: #ecfeff;
}

article > h3 {
  font-family: var(--fuente-titulos);
  font-optical-sizing: auto;
  font-weight: 800;
  text-align: center;
  margin: 0.5rem;
  color: black;
}

article > p {
  font-family: var(--fuente-parrafos);
  font-weight: 300;
  font-optical-sizing: auto;
  color: black;
  text-wrap: balance;
  text-align: center;
}

#imagenesOfertas {
  display: block;
  justify-content: center;
  margin: auto;
  border: 1px solid black;
  border-top-right-radius: 15%;
  height: 60%;
  width: 80%;
  cursor: pointer;
}

/* --MARCAS-- */
#marcas {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  scroll-margin-top: 85px;
  width: 90%;
  background-color: #0e7190;
  margin: auto;
  margin-top: 0.5rem;
}

@media (width < 800px) {
  #marcas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    margin: 0;
    scroll-margin-top: 0;
  }
}

#marcas > h2 {
  display: grid;
  grid-column: 1 / -1;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #083244;
  border-radius: 10px;
  width: fit-content;
  margin-top: 1rem;
  background-color: #ecfeff;
}

.seccionMarcas {
  position: relative;
  border-radius: 20px;
  text-align: center;
  padding-bottom: 0.5rem;
  margin: auto;
  width: 80%;
  height: 80%;
}

.seccionMarcas > img {
  width: 100%;
  height: 100%;
  border: 5px solid #083244;
  background-color: #fff;
  border-radius: 20px;
}

.seccionMarcas > img:hover {
  scale: 1.1;
  opacity: 0.7;
}
/* --RESEÑAS--*/
#reseñas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(40rem, 50%), 1fr));
  gap: 1rem;
  width: 90%;
  margin: auto;
  margin-top: 1rem;
  background-color: #0e7190;
  padding: 0.5rem;
  scroll-margin-top: 85px;
}

@media (width < 800px) {
  #reseñas {
    justify-content: center;
    align-items: center;
    margin: 0;
    scroll-margin-top: 0;
    width: 100%;
  }
}

#reseñas > h4 {
  display: grid;
  grid-column: 1 / -1;
  text-align: center;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: clamp(1rem, 2vw, 1rem);
  color: #083244;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  background-color: #ecfeff;
}

.reseñas-article {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 80%;
  margin: auto;
  padding: 0.5rem;
  border-radius: 50px;
  background: #0e7190;
  box-shadow: 20px 20px 60px #0c607a, -20px -20px 60px #1082a6;
}

#reseña-img {
  width: 100px;
  border-radius: 50%;
  border: 2px solid #07c2e8;
}

.estrellas > p {
  font-family: var(--fuente-parrafos);
  font-weight: 300;
  font-optical-sizing: auto;
  color: black;
  text-wrap: balance;
  text-wrap: balance;
  margin: auto;
}

.estrellas {
  margin: auto;
  padding-inline: 1rem;
}

@media (width < 800px) {
  .estrellas {
    display: block;
    margin: auto;
  }

  .reseñas-article {
    display: flex;
    flex-direction: column;
  }

  #reseña-img {
    margin: auto;
  }
}

.estrellas > i {
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
  color: rgb(247, 231, 6);
  margin-right: 0.3rem;
  margin-block: 0.5rem;
}

/* --FOOTER-- */
footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #083244;
  text-align: center;
  padding: 0.5rem;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  color: #fff;
  margin-top: 0.5rem;
}

@media (width < 700px) {
  footer {
    display: flex;
    flex-direction: column;
    margin: 0;
    scroll-margin-top: 0;
    width: 100%;
  }
}

.footer-form > form {
  display: flex;
  flex-direction: column;
  border: 2px solid #fff;
  padding: 0.5rem;
  width: 40vw;
}

.footer-form > h4,
.youtube-video > h4 {
  text-align: center;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  font-size: 1rem;
  color: #083244;
  padding: 0.5rem;
  border-radius: 10px;
  width: fit-content;
  margin: auto;
  background-color: #ecfeff;
}

@media (width < 700px) {
  .footer-form > form {
    display: flex;
    flex-direction: column;
    width: 100dvw;
    margin: 1rem;
  }
}

.footerh4 {
  background-color: rgb(41, 36, 36);
  color: #fff;
  font-family: var(--fuente-titulos);
  font-optical-sizing: auto;
  font-weight: 800;
  text-align: center;
  margin: auto;
}

#footer-label {
  color: #fff;
}

#nombreCompleto {
  height: 2rem;
  border-radius: 5px;
  text-align: start;
  padding-left: 0.5rem;
}

#mensaje {
  text-align: start;
  height: 5rem;
  padding-left: 0.5rem;
  font-family: var(--fuente-parrafos);
  font-weight: 400;
  font-optical-sizing: auto;
  font-style: normal;
  text-wrap: balance;
}

form > button {
  height: 2rem;
  margin-block: 1rem;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
  text-wrap: balance;
  background-color: #07c2e8;
  border: 2px solid #083244;
}

.youtube-video > h4,
.footer-form > h4 {
  margin-bottom: 0.5rem;
  font-family: var(--fuente-titulos);
  font-weight: 800;
  font-optical-sizing: auto;
  font-style: normal;
}

.video {
  aspect-ratio: 16 / 9;
  width: 35vw;
  border: 2px solid #fff;
  padding: 0.5rem;
}

@media (width < 700px) {
  .video {
    width: 100dvw;
  }
}

/* --BOTON SCROLL-- */

#scrollBtn {
  cursor: pointer;
  border: none;
}

#scrollBtn > i {
  font-size: 3rem;
  color: #67e5f9;
  background-color: #083244;
}
